---
import { navLinks } from "../../config/links";
import { Icon } from "astro-icon";
// import ThemeSwitcher from "~/components/theme-switcher.astro";

const { ...attributes } = Astro.props;
---

<header class="bg-gray-900">
  <div
    class="mx-auto px-4 py-5 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8"
    {...attributes}
  >
    <div class="relative flex items-center justify-between">
      <div class="flex items-center">
        <a
          href="/"
          aria-label="Company"
          title="Company"
          class="inline-flex items-center rounded text-gray-700 ring-brand transition duration-500 hover:text-gray-900 focus:outline-none focus-visible:ring-4 lg:mr-8"
        >
          <Icon name="logo" class="w-10 text-white" />
        </a>
        <ul class="flex hidden items-center space-x-6 lg:flex">
          {
            navLinks.map(({ title, url }) => (
              <li>
                <a
                  class="

text-base font-medium capitalize tracking-wide

                  text-white transition-colors duration-500 hover:text-gray-300 "
                  href={url}
                >
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Hamburger btn -->
      <div class="lg:hidden">
        <button
          id="open-btn"
          aria-label="Open Menu"
          title="Open Menu"
          class="focus:shadow-outline flex items-center rounded transition duration-500 hover:text-white focus:outline-none"
        >
          <Icon name="mdi:menu" class="h-8" />
        </button>
      </div>
    </div>
  </div>
  <!-- Mobile menu -->
  <div id="mobile-menu" class="absolute top-0 right-0 z-20 hidden w-1/2">
    <div
      class="h-screen bg-brand px-4 py-5 text-right text-bkg md:px-24 lg:px-8"
    >
      <button
        id="close-btn"
        aria-label="Close Menu"
        title="Close Menu"
        class="focus:shadow-outline mb-4 rounded transition duration-500 hover:text-white focus:outline-none"
      >
        <Icon name="mdi:close" class="h-10" />
      </button>

      <nav class="">
        <ul class="space-y-6 border-b border-[#3385FF] p-3 md:p-5">
          {
            navLinks.map(({ title, url }) => (
              <li>
                <a
                  class="text-2xl font-medium capitalize tracking-wide transition duration-500 hover:text-white "
                  href={url}
                >
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
        <p
          class="p-3 tracking-wider transition duration-500 hover:text-white sm:my-3 md:p-5"
        >
          <a href="mailto:info@admin.com">info@admin.com</a>
        </p>
      </nav>
    </div>
  </div>
</header>
<script>
  const btnOpen = document.getElementById("open-btn");
  const menu = document.getElementById("mobile-menu");
  const btnClose = document.getElementById("close-btn");
  const overlay = document.getElementById("overlay");

  btnOpen!.addEventListener("click", navToggle);
  btnClose!.addEventListener("click", navToggle);

  function navToggle() {
    menu!.classList.toggle("open");
    menu!.classList.toggle("hidden");
    overlay!.classList.toggle("hidden");
  }
</script>

<style>
  .open {
    display: block;
  }
</style>
